body {
  margin: 0;
  padding: 0;
  font-family: American Typewriter, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*.main{
	background-color: #00839F;
}*/

.title {

}
.form{
	padding: 30px;
	margin: 25%;
	margin-top: 2%;
	background-color: white;
}

.heading-div{
	text-align: center;
	/*margin-top: 5%;*/
	background-color: white;
}
h1{
	font-family: American Typewriter, serif;
	text-align: center;
}

.heading h3{
	display: inline-block;
	text-align: left;
}

h3{
	font-size: 35px;
	font-family: American Typewriter, serif;
}

.card-1 {
	background-color: #B70060;
}

.card-2 {
	background-color: #230D49;
}

.waves-effect{
	margin: 40%;
	margin-top: 2%;
}

.btn {
	font-family: American Typewriter, serif;
}
a{
	font-family: American Typewriter, serif;
}

.status {
	color: red;
}

.waves-light{
	margin-top: 7%;
}


.container img {
	width: auto;
	 max-height: 900px;
}

.footer-container{
	margin-left: 2%;
}

.footer-box{
	height: 250px;
	margin-left: -1%;
	margin-right: -1%;
	background-color: #3B0097;
}

.card-content{
	font-size: 30px;
}

.card {
	width: 500px;
	margin-left: 25%
}

.card1{
	margin-left: 20%;
	margin-top: 50%;
}

.tentips {
	margin-top: 100%;
	margin-left: -5%;
}

.business{
	width: 400px;
	margin-left: 65%;
	margin-top: -36%;
}

.white-text{
	font-size: 20px;
}

.myloans{
	height: 500px;
	margin-top: 20%;
}

.tr{
	height: 100px;
}