body {
  margin: 0;
  padding: 0;
  font-family: American Typewriter, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*.main{
	background-color: #00839F;
}*/

.title {

}
.form{
	padding: 30px;
	margin: 25%;
	margin-top: 2%;
	background-color: white;
}

.heading-div{
	text-align: center;
	/*margin-top: 5%;*/
	background-color: white;
}
h1{
	font-family: American Typewriter, serif;
	text-align: center;
}

.heading h3{
	display: inline-block;
	text-align: left;
}

h3{
	font-size: 35px;
	font-family: American Typewriter, serif;
}

.stories{
	text-align: left;
}

.forreal{
	text-align: center;
}

.benefits{
	text-align: center;
	margin-top: 10%;
	padding: 25px;
	height: 40px;
}
.waves-effect{
	margin: 40%;
	margin-top: 2%;
}

.btn {
	font-family: American Typewriter, serif;
}
a{
	font-family: American Typewriter, serif;
}

.status {
	color: red;
}

.waves-light{
	margin-top: 7%;
}

.container img {
	margin-top: 10%;
	width: 100%;
	height: auto;
}

.footer-container{
	margin-left: 2%;
}

.footer-box{
	height: 400px;
	margin-left: -1%;
	margin-right: -1%;
	margin-top: 15%;
	background-color: #3B0097;
}
.products{
	margin-top: 2%;
}

.Copyright{
	margin-top: 2%;
	text-align: center;
}

.company{
	margin-left: 30%;
	margin-top: -19%;
}

.legal{
	margin-left: 55%;
	margin-top: -14%;
}

.questions{
	margin-left: 80%;
	margin-top: -15%;
}

.card-content{
	font-size: 30px;
}

.card {
	width: 500px;
	margin-left: 25%
}

.card1{
	margin-left: 20%;
	margin-top: 50%;
}

.tentips {
	margin-top: 100%;
	margin-left: -5%;
}

.business{
	width: 400px;
	margin-left: 65%;
	margin-top: -36%;
}

.white-text{
	font-size: 20px;
}

.myloans{
	height: 500px;
	margin-top: 20%;
}

.tr{
	height: 100px;
}

.details{
	margin-left: 12%;
	margin-top: 10%;
	width: 300px;
}

.transparency{
	margin-left: 43%;
	margin-top: -13%;
	width: 300px;
}

.together {
	margin-top: -12%;
	width: 300px;
	margin-left: 75%;
}
.box{
	margin-top: 15%;
	height: 50px;
}

.raise{
	background-color: #e0e0e0;
	height: 400px;
	padding: 80px;
	margin-top: 30%;
}

.card-heading{
	font-size: 60px;
}

p{
	font-size: 25px;
	margin-right: 10%;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .form .main, .container .card .card1 .card-content.company .legal .questions .together .transparency .details 
  .raise {
    width:100%;
  }
}